version: '3.8'
services:
  adminer:
    image: adminer:latest
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: crossover.proxy.rlwy.net:45605
      ADMINER_DESIGN: pepa-linha 